@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background: #c9453b;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

@media screen and (min-width: 992px) {
  .btn:hover {
    background: #92312a;
  }
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

.title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #000000;
  text-align: center;
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 99;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-icon {
  display: none;
}

.menu-body {
  margin-left: -140px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-list li:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.menu-btn {
  height: 50px;
  padding: 0 35px;
}

.hero {
  margin-bottom: 70px;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/img/header-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  padding: 85px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero__content *:last-child {
  margin-bottom: 0;
}

.hero__title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__text {
  text-align: start;
  color: #ffffff;
  margin-bottom: 40px;
  width: 458px;
}

.hero__btn {
  min-height: 60px;
  padding: 0 46px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 30px;
}

.location {
  padding: 70px 0;
}

.location__header {
  text-align: center;
  margin-bottom: 50px;
}

.location__title {
  margin-bottom: 20px;
}

.location__text {
  max-width: 735px;
  margin: 0 auto;
}

.location__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.location__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding: 0 15px;
}

.location__item {
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-descr {
  padding: 33px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-name {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
}

.offers {
  padding: 70px 0;
}

.offers__container {
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 15px;
}

.offers__header {
  margin-bottom: 60px;
}

.offers__title {
  margin-bottom: 20px;
}

.offers__text {
  max-width: 656px;
  margin: 0 auto;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 5%;
  height: 5px;
  background-color: #c9453b;
  border-radius: 10px;
}

.swiper-button-prev {
  height: 12px;
  width: 14px;
  background-image: url("/img/offers/arrow-prev.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 100%;
  left: 35%;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  height: 12px;
  width: 14px;
  background-image: url("/img/offers/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 100%;
  right: 35%;
}

.swiper-button-next::after {
  display: none;
}

.slide-item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-item *:last-child {
  margin-bottom: 0;
}

.slide-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slide-name {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 8px;
  text-align: start;
}

.slide-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.slide-loc {
  font-size: 20px;
  line-height: 150%;
  margin-right: 50px;
}

.slide-loc::before {
  content: url("/img/offers/loc.svg");
  margin-right: 10px;
}

.slide-rating {
  font-size: 18px;
  line-height: 150%;
}

.slide-rating::before {
  content: url("/img/offers/star.svg");
  margin-right: 10px;
}

.slide-days {
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  margin-bottom: 8px;
}

.slide-price {
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  margin-bottom: 8px;
}

.slide-price span {
  font-size: 18px;
  opacity: 1;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */