@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@500&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  background: #c9453b;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background 0.3s ease;
}

@media screen and (min-width: 992px) {
  .btn:hover {
    background: #92312a;
  }
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}

.title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #000000;
  text-align: center;
}

.header {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 99;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  display: none;
}

.menu-body {
  margin-left: -140px;
}

.menu-list {
  display: flex;
}

.menu-list li:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.menu-btn {
  height: 50px;
  padding: 0 35px;
}

.hero {
  margin-bottom: 70px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero__content {
  padding: 85px 0 35px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.hero__content *:last-child {
  margin-bottom: 0;
}

.hero__title {
  font-family: Gelasio;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__text {
  text-align: start;
  color: #ffffff;
  margin-bottom: 40px;
  width: 458px;
}

.hero__btn {
  min-height: 60px;
  padding: 0 46px;
  align-self: flex-start;
  margin-bottom: 30px;
}

.location {
  padding: 70px 0;
}

.location__header {
  text-align: center;
  margin-bottom: 50px;
}

.location__title {
  margin-bottom: 20px;
}

.location__text {
  max-width: 735px;
  margin: 0 auto;
}

.location__items {
  display: flex;
  margin: 0 -15px;
}

.location__column {
  display: flex;
  flex: 0 0 33.333%;
  padding: 0 15px;
}

.location__item {
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.item-img img {
  max-width: 100%;
  object-fit: cover;
}

.item-descr {
  padding: 33px;
  flex: 1 1 auto;
}

.item-name {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
}

.offers {
  padding: 70px 0;
}

.offers__container {
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 15px;
}

.offers__header {
  margin-bottom: 60px;
}

.offers__title {
  margin-bottom: 20px;
}

.offers__text {
  max-width: 656px;
  margin: 0 auto;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 5px;
  background-color: #c9453b;
  border-radius: 10px;
}

.swiper-button-prev {
  height: 12px;
  width: 14px;
  background-image: url("../img/offers/arrow-prev.svg") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 100%;
  left: 35%;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  height: 12px;
  width: 14px;
  background-image: url("../img/offers/arrow-next.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: 100%;
  right: 35%;
}

.swiper-button-next::after {
  display: none;
}

.slide-item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.slide-item *:last-child {
  margin-bottom: 0;
}

.slide-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.slide-name {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 8px;
  text-align: start;
}

.slide-details {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.slide-loc {
  font-size: 20px;
  line-height: 150%;
  margin-right: 50px;
}

.slide-loc::before {
  content: url("../img/offers/loc.svg");
  margin-right: 10px;
}

.slide-rating {
  font-size: 18px;
  line-height: 150%;
}

.slide-rating::before {
  content: url("../img/offers/star.svg");
  margin-right: 10px;
}

.slide-days {
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  margin-bottom: 8px;
}

.slide-price {
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  margin-bottom: 8px;
}

.slide-price span {
  font-size: 18px;
  opacity: 1;
  font-weight: bold;
}

.blog {
  padding: 70px 0;
}

.blog__header {
  margin-bottom: 50px;
}

.blog__title {
  margin-bottom: 20px;
}

.blog__text {
  max-width: 580px;
  margin: 0 auto;
}

.blog__content {
  display: flex;
  margin: 0 -15px;
}

.blog__column {
  flex: 0 0 50%;
  padding: 0 15px;
}

.blog__items {
  display: flex;
  flex-direction: column;
}

.blog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(200px, auto);
}

.blog__item:not(:last-child) {
  margin-bottom: 30px;
}

.blog__item-img {
  overflow: hidden;
  border-radius: 10px;
}

.blog__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog__item-desc {
  padding: 25px 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog__item-title {
  font-size: 20px;
  line-height: 160%;
  text-align: start;
  margin-bottom: 10px;
}

.blog__item-text {
  font-size: 18px;
  line-height: 160%;
  text-align: start;
  margin-bottom: 10px;
}

.blog__item-author {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.main-item {
  display: grid;
  grid-template-rows: 400px 1fr;
  grid-template-columns: 1fr;
  row-gap: 35px;
}

.main-desc {
  padding: 0;
  max-width: 470px;
}

.side-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer {
  padding: 70px 0;
  background: rgba(38, 148, 153, 0.04);
}

.footer__body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 100px;
}

.footer__logo {
  filter: invert(1);
  margin-bottom: 50px;
}

.footer__contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  letter-spacing: 0.06em;
  color: #000000;
  max-width: 180px;
  margin-bottom: 20px;
}

.footer__social {
  max-width: 160px;
  display: flex;
  justify-content: space-between;
}

.footer__social img {
  transition: all 0.3s;
}

.footer__social img:hover {
  transform: scale(1.2);
}

.footer-menu-body {
  display: flex;
  justify-content: space-between;
}

.footer-menu-list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer__subscribe-now {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}

.footer__subscribe-form {
  display: flex;
}

.footer__email {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 195px;
  margin-right: 35px;
}

.footer__btn {
  font-size: 16px;
  line-height: 150%;
  padding: 10px 32px;
}
/*# sourceMappingURL=style.css.map */