.header {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 99;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu {
    &-icon {
        display: none;
    }
    &-body {
        margin-left: -140px;
    }
    &-list {
        display: flex;
        li {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }
    &-link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #ffffff;
    }
    &-btn {
        height: 50px;
        padding: 0 35px;
    }
}